<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
   <title>quietbox</title>
</head>
<body>
   <div id="app" v-cloak>
      <h3>本地<h3>
      <div v-for="m in loc_musics">
         <div>
            {{ m.id }}
            {{ m.name }}
            <button @click="loc_play(m.id)">播放</button>
         </div>
      </div>
      <h3>网易云音乐<h3>
      <div v-for="m in wangye_musics">
         <div>
            {{ m.id }}
            {{ m.name }}
            <button @click="wangye_play(m.id)">播放</button>
         </div>
      </div>
   </div>


   <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.9.3/vue-resource.min.js"></script>
   <script>
      var vue = new Vue({
         el: '#app',
         data: {
            loc_musics: [],
            wangye_musics: []
         },
         compiled: function() {
            var self = this;
            self.$http.get('/local/list').then(function(res) {
               self.loc_musics = res.data.musics;
            });
            self.$http.get('/163/804411834').then(function(res) {
               self.wangye_musics = res.data.musics;
            });
         },
         methods: {
            loc_play: function(id) {
               var self = this;
               self.$http.get('/local/play/'+id);
            },
            wangye_play: function(id) {
               var self = this;
               self.$http.get('/163/play/'+id);
            }
         }
})
   </script>
</body>
</html>
